/* Place your CSS styles in this file */

body{
    margin: 0%;
   
    font-family: Arial, Helvetica, sans-serif;
   background-color: #660708ff;
 
   
}
.topnav{
    overflow: hidden;
    background-color: #000000;
}
.topnav a{
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17;
font-weight: bolder;
    }
    .topnav a:hover{
        background-color: rgb(254, 0, 0);
        color: rgb(8, 8, 8);
    }
    .topnav a.active {
  background-color: #04AA6D;
  color: white;
    }
 h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align:center;
	font-size: 100px;
	color: #ffffff;
	text-shadow: 10px 5px 5px #000000;
	font-family:cursive;
}
/*p.a{
    margin: auto;
  width: 60%;
  display:inline;
  display:block;
}
*/


   .pizza,.Burgurs,.Bar-B-Q {
       text-align: center;
       background-color: #d3d3d3ff;
        color: rgb(242, 0, 0);
        /*border:  solid white;*/
        border-radius: 4%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        display:inline-block;
       /*margin-left: auto;
       margin-right: auto;*/
       height: 350px;
       width: 260px;
       font-size: xx-large;
       font-family: cursive;
       font-weight: bolder;
       padding-top: 5px;
       margin: 5px 5px; 
    }
    a.img{
        justify-items: center;
        }

img{
   height:250px;
       width: 250px;
       border-radius: 100%;
       justify-items: center;
       margin-top: 10%;
       box-shadow: 0 0 20px  rgb(4, 4, 4)
}
a:hover{
    border-radius: 5%;
        transform: scale(1.2);
        box-shadow: 0 0 20px  rgb(4, 4, 4)
        }
       /* img:hover{
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 5%;}*/

            .manu {
 list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.manu li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
   
}
.manu a{
    text-decoration: none;}
 
.under{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: 20px;
  color: #ffffff;
  font-size: xx-large;
  font-weight: bolder;
    }
